<button type="button" class="btn btn-info"><a routerLink="/manage-company" label>Add Company</a></button><br>

        <table  class="table table-hover table-sm"  > 
            <thead>
      
              <tr>
      
                <th>CompanyName</th>
      
                <th>turnover</th>
      
                <th>Ceoname</th>
      
                <th>Bod</th>
      
                <th>Listedinse</th>
      
                <th>sector</th>
      
                <th>remarks</th>

                <th>stockcode</th>
      
              </tr>
      
            </thead>
      
            <tbody>
      
               <tr *ngFor="let company of companyList ">
      
                <td>{{company.companyname}}</td>
      
                <td>{{company.turnover}}</td>
      
                <td>{{company.ceoname}}</td>
      
                <td>{{company.bod}}</td>
      
                <td>{{company.listedinse}}</td>
      
                <td>{{company.sector}}</td>
      
                <td>{{company.remarks}}</td>

                <td>{{company.stockcode}}</td>

                <td><button (click)="deleteCompany(company)" class='btn btn-danger'><i class="fa fa-futboll-0">Delete</i></button> &nbsp;

                  <button (click)="updateCompany(company)" class='btn btn-primary'
             
                  data-toggle="modal" data-target="#myModal">Update</button>
             
                 </td>
      
               </tr>
      
            </tbody><br>
      
          </table>
    
          <button type="button" class="btn btn-warning btn-lg"> <a routerLink="/admin">Back</a></button>
      
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
      
      
       
      
      
      
      
