

 <title>Bootstrap Example</title>

 <div class="b">


<div class="container">

 <h2 style="color: rgb(175, 233, 16);">Admin Portal</h2>

 <button type="button" class="btn btn-secondary btn-block" ><a routerLink="/import-data" label>Import Data</a></button><br>

 <button type="button" class="btn btn-secondary btn-block "><a routerLink="/companylist" label>Manage Company</a></button><br>

 <button type="button" class="btn btn-secondary btn-block"><a routerLink="/stockexchangelist" label>Manage Exchange</a></button><br>

 <button type="button" class="btn btn-secondary btn-block"><a routerLink="/ipodetailslist" label>Update IPO Details</a></button><br>

 <button type="button" class="btn btn-secondary btn-block"><a routerLink="/sectorslist" label>Sectors</a></button><br>
 <button type="button" class="btn btn-secondary btn-block"><a routerLink="/stockpricelist" label>Stockprice</a></button><br>

 </div>
 <br>
 <br>
 <br>
 <button type="button" class="btn btn-warning btn-lg" style="position: absolute; right: 0"> <a routerLink="/login">Log Out</a></button>

</div>