.b{
    background-image: url("https://image.freepik.com/free-photo/businessman-holding-tablet-showing-holographic-graphs-stock-market-statistics-gain-profits_79161-706.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}