



<div class="container mt-3">

 <form action="/action_page.php">

  <br>

  <p>Import Excel</p>

  <div class="custom-file mb-3">

   <input type="file" class="custom-file-input" id="customFile" name="filename">

   <label class="custom-file-label" for="customFile">Choose file</label>

  </div>

 </form>
<br>
<br>
<br>
<br>

 <button type="button" class="btn btn-warning btn-lg"> <a routerLink="/admin">Back</a></button>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






