.b{
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/80/09/financial-stock-market-data-statistics-charts-vector-24898009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}