.b{
    background-image: url("https://previews.123rf.com/images/nicedream/nicedream1805/nicedream180500008/102670890-stock-market-or-forex-trading-graph-in-graphic-concept-suitable-for-financial-investment-or-economic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

      