.b{
    
        background-image: url("https://www.kindpng.com/picc/m/74-743103_listening-to-customers-png-happy-customer-png-transparent.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 700px;
    }
    